<div class="card">
  <h3>Instruction:</h3>
  <ul>
    <li>Enter needed fields in <a routerLink="/setting">Settings</a> tab</li>
    <li>
      Enter observation data in Input tab; each row can contain a value in the following format:
      <ul>
        <li>Time in format HHMM</li>
        <li>For field of obstruction enter a percent (e.g. 20%)</li>
        <li>LM (Limiting magnitude) (e.g. Lm=6.1)</li>
        <li>Dec (Declination in degrees) (e.g. Dec=35)</li>
        <li>RA (Right Ascension in degrees) (e.g. RA=275)</li>
        <li>
          Meteor magnitude from -6 to 7
          <ul>
            <li>For sporadic add minus at end (e.g. 3-)</li>
            <li>
              For minor shower add meteor code of the shower at the end (e.g. 3CAP)
              @if (showers) {
                from list of minor showers in settings: {{ showers }}
              }
            </li>
          </ul>
        </li>
        <li>For observation break enter two slashes (//)</li>
      </ul>
    </li>
    <li>
      Download the calculated tabs in CSV format:<br>
      select <a routerLink="/count-distribution">Count Distribution</a> tab, export as CSV;<br>
      select <a routerLink="/magnitude-distribution">Magnitude Distribution</a> tab, export as CSV;
    </li>
    <li>
      Navigate to IMO
      <a href="https://www.imo.net/members/imo_observation/upload_observation" target="_blank" rel="noopener">upload observation</a>
      and follow instructions to upload the two downloaded CSV files
    </li>
  </ul>
</div>
