<div class="row">
  <div class="col-m-2">

  <div class="btn-group mx-2">
    <button class="btn btn-outline-primary fa fa-trash" (click)="onClean()"    title="delete all"></button>
    <button class="btn btn-outline-primary fa fa-plus"  (click)="onInsert()"   title="insert row"></button>
    <button class="btn btn-outline-primary fa fa-cut"   (click)="onDelete()"   title="delete row"></button>
    <button class="btn btn-outline-primary fa fa-copy"  (click)="onCopyAll()"  title="copy all"></button>
    <button class="btn btn-outline-primary fa fa-paste" (click)="onPasteAll()" title="paste all"></button>
  </div>
  <ag-grid-angular 
    style="height: 100%;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [enterMovesDownAfterEdit]="true"
    (gridReady)="onGridReady($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    [modules]="modules"
    >
  </ag-grid-angular>
  </div>
  <div class="col-m-2 mx-4 mt-5">
    <b>Statistics:</b>
    <app-statistics></app-statistics>
  </div>
  <div class="col-m-8 h-100">
    <app-instruction></app-instruction>
  </div>
 </div>
