<div class="row">
  <div class="col-2">

  <div class="btn-group mx-2">
    <button class="btn btn-outline-primary fa fa-trash" (click)="onClean()"    title="delete all"></button>
    <button class="btn btn-outline-primary fa fa-plus"  (click)="onInsert()"   title="insert row"></button>
    <button class="btn btn-outline-primary fa fa-cut"   (click)="onDelete()"   title="delete row"></button>
    <button class="btn btn-outline-primary fa fa-copy"  (click)="onCopyAll()"  title="copy all"></button>
    <button class="btn btn-outline-primary fa fa-paste" (click)="onPasteAll()" title="paste all"></button>
  </div>
  <ag-grid-angular 
    style="height: 530px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [enterMovesDownAfterEdit]="true"
    (gridReady)="onGridReady($event)"
    (cellValueChanged)="onCellValueChanged($event)">
  </ag-grid-angular>
  </div>
  <div class="col-7 h-100">

      <div class="card m-5">
        <div class="card-body">
          <div class="card-text">
            <ul> 
              <li>Enter needed fields in Setting tab</li>
              <li>Enter observation data in Input tab; <br>            
                  each row can contain a value in the following format: 
              </li>
              <ul>
                <li>Time in format HHMM</li>
                <li>Meteor magnitude from -6 until 7</li>
                <ul>
                  <li>For sporadic add minus at end (e.g 3-)</li>
                  <li>For minor shower add at end a meteor code of the shower (e.g.: 3CAP)</li>
                  see <a href="https://www.imo.net/members/imo_showers/working_shower_list">shower list</a>
                </ul>
                <li>For observation break enter two slashes (//)</li>
                <li>For field of obstruction enter a percent (e.g. 20%)</li>
                <li>Limited magnitude (e.g Lm=6.1)</li>
              </ul>
              <li>Download the calculated tabs in csv format as following:<br>
                select Count Distribution tab, Export as CSV;<br>
                do the same for Magnitude Distribution tab</li>
              <li>Navigate to <a href="https://www.imo.net/members/imo_observation/upload_observation">upload observation</a> 
                and follow instraction to upload the two downloaded csv files</li>  
            </ul>
          </div>
        </div>
      </div>
  </div>
  <div class="col-3">
    <div>{{meteorService.shower}}: {{meteorService.showerCount}}</div>
    <div>SPO: {{meteorService.spoCount}}</div>
    <p></p>
    <div>-6:&nbsp; {{meteorService.stat[meteorService.shower][-6]}}</div>
    <div>-5:&nbsp; {{meteorService.stat[meteorService.shower][-5]}}</div>
    <div>-4:&nbsp; {{meteorService.stat[meteorService.shower][-4]}}</div>
    <div>-3:&nbsp; {{meteorService.stat[meteorService.shower][-3]}}</div>
    <div>-2:&nbsp; {{meteorService.stat[meteorService.shower][-2]}}</div>
    <div>-1:&nbsp; {{meteorService.stat[meteorService.shower][-1]}}</div>
    <div>&nbsp; 0:&nbsp; {{meteorService.stat[meteorService.shower]['0']}}</div>
    <div>&nbsp; 1:&nbsp; {{meteorService.stat[meteorService.shower][1]}}</div>
    <div>&nbsp; 2:&nbsp; {{meteorService.stat[meteorService.shower][2]}}</div>
    <div>&nbsp; 3:&nbsp; {{meteorService.stat[meteorService.shower][3]}}</div>
    <div>&nbsp; 4:&nbsp; {{meteorService.stat[meteorService.shower][4]}}</div>
    <div>&nbsp; 5:&nbsp; {{meteorService.stat[meteorService.shower][5]}}</div>
    <div>&nbsp; 6:&nbsp; {{meteorService.stat[meteorService.shower][6]}}</div>
    <div>&nbsp; 7:&nbsp; {{meteorService.stat[meteorService.shower][7]}}</div>
  </div>
</div>
