
<div class="container-fluid h-100 d-flex flex-column">
  <nav class="row navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >
          Garmoshka
        </a>
      
        <button class="navbar-toggler" type="button" 
        (click)="toggleNavbar()">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " [ngClass]="{'show': navbarOpen}">
          <ul class="navbar-nav mr-auto" (click)="toggleNavbar()">
              <li class="nav-item"><a class="nav-link" routerLink="setting">Settings</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="meteor-input">Input</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="count-distribution">Count Distribution</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="magnitude-distribution">Magnitude Disgribution</a></li>
          </ul>
        </div>
  </nav>
    
    
  <div class="row h-100">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
    
</div>
