<form class="settings-form">
  <div class="form-group">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" [(ngModel)]="name" id="name" name="name" type="text"
      (ngModelChange)="onFieldChange('name', $event)">
  </div>

  <div class="form-group">
    <label class="form-label" for="shower">Major meteor shower</label>
    <input class="form-control" [(ngModel)]="shower" id="shower" name="shower" type="text"
      (ngModelChange)="onFieldChange('shower', $event)">
    <span class="form-hint">
      Look for code in <a href="https://www.imo.net/members/imo_showers/working_shower_list" target="_blank" rel="noopener">shower list</a>
    </span>
  </div>

  <div class="form-group">
    <label class="form-label" for="showers">Minor meteor shower list</label>
    <input class="form-control" [(ngModel)]="showers" id="showers" name="showers" type="text"
      (ngModelChange)="onFieldChange('showers', $event)">
    <span class="form-hint">e.g. CAP,SDA,ANT</span>
  </div>

  <div class="form-group">
    <label class="form-label" for="curDate">Local start date</label>
    <input class="form-control" [(ngModel)]="curDate" id="curDate" name="curDate" placeholder="DD/MM/YYYY" type="text"
      (ngModelChange)="onFieldChange('curDate', $event)">
  </div>

  <div class="form-group">
    <label class="form-label" for="F">Field of obstruction</label>
    <div class="input-group">
      <input class="form-control" [(ngModel)]="F" id="F" name="F" type="text"
        (ngModelChange)="onFieldChange('F', $event)">
      <span class="input-group-text">%</span>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="Lm">Lm</label>
    <input class="form-control" [(ngModel)]="Lm" id="Lm" name="Lm" type="text"
      (ngModelChange)="onFieldChange('Lm', $event)">
  </div>

  <div class="form-group">
    <label class="form-label" for="Dec">Dec</label>
    <div class="input-group">
      <input class="form-control" [(ngModel)]="Dec" id="Dec" name="Dec" type="text"
        (ngModelChange)="onFieldChange('Dec', $event)">
      <span class="input-group-text">°</span>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="RaStartTime">RA local start time</label>
    <input class="form-control" [(ngModel)]="RaStartTime" id="RaStartTime" name="RaStartTime"
      placeholder="HHMM" type="text" pattern="\d+"
      (ngModelChange)="onFieldChange('RaStartTime', $event)">
  </div>

  <div class="form-group">
    <label class="form-label" for="RaStartValue">RA start value</label>
    <div class="input-group">
      <input class="form-control" [(ngModel)]="RaStartValue" id="RaStartValue" name="RaStartValue" type="text"
        (ngModelChange)="onFieldChange('RaStartValue', $event)">
      <span class="input-group-text">°</span>
    </div>
  </div>

  <app-hour-to-degree-converter></app-hour-to-degree-converter>
</form>
